/**********  ACCORDION **********/

.accordion,
.menu {
    background-color: #f2f2f2;
    color: #666;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.accordion li {
    padding: 0;
    list-style-type: none;
}

.accordion-control {
    background-color: #303030;
    color: #fff;
    display: block;
    width: 100%;
    font-size: 18px;
}

.accordion-panel img {
    display: block;
    clear: left;
}
 