@charset "UTF-8";


/* 메인 영역*/
/* 메인 상단 베너 영역*/
#banner{position: relative; width: 100%;height: 200px; overflow: hidden}
#banner img{width: 100%;height: 100%}
.control{position: absolute;top: 45%;left: 0; width: 100%}
.control #prevBtn{float: left; width: 23px; height: 38px;margin-left: 15px}
.control #nextBtn{float: right; width: 23px; height: 38px;margin-right: 15px}
.show_banner{positon:absolute; width: 3000px;}
.show_banner li{float: left;width: 1000px;}
.show_banner li img{width: 100%}

/* 메인 좌측 상품 영역*/
#main_listarea{position: relative; float: left; width:100%; }
#main_listarea li{float: left}
#main_listarea ul,p,span{clear: both;padding: 0;margin: 0}
.main_content{position: relative; width: 100%; height: 570px; margin: 40px 0}
.main_content p{font-size:20px; color:#ff1800; line-height:40px; font-weight:bold; margin-bottom:15px;border-bottom: 1px solid #ff1800}
.main_content .hot_item_area{width:100%;height:470px}
.main_content .new_item_area{width:100%;height:470px}
.main_content ul li span{display:block;width:100%;height:40px;margin-top:10px;overflow:hidden}
.hot_item_area li{width: 120px; height: 210px;margin-left: 5px;margin-top: 10px;text-align:center}
.hot_item_area li img{width:100%}
#hot_pages{width:150px; margin:0 auto}
#hot_pages .hot_page{display:inline-block;text-indent:-999em; width:15px; height:15px; border-radius:10px;background-color:#c9c9c9;margin-right:10px}
#hot_pages .hot_page:hover{background-color:#757575}
.new_item_area li{width: 120px; height: 210px;margin-left: 5px;margin-top: 10px;text-align:center}
.new_item_area li img{width:100%}
#new_pages{width:150px; margin:0 auto}
#new_pages .new_page{display:inline-block;text-indent:-999em; width:15px; height:15px; border-radius:10px;background-color:#c9c9c9;margin-right:10px}
#new_pages .new_page:hover{background-color:#757575}

/* 메인 우측 온,오프 영역*/
#main_rightbox{position: relative; float: right; width: 20%; height: 510px; padding: 5px 10px; box-sizing: border-box; margin-top: 45px; text-align: center; background-color: beige;display:none}
#on_off_btn{position: absolute;width: 30px; height: 50px; text-align: center; top: 225px;margin-left: -10px;background-color: white}
#on_off_btn img{margin-top: 5px}
#main_rightbox ul{margin-top: 20px}
#main_rightbox li{width: 110px; height: 140px;margin-top: 10px; background-color: forestgreen}