/* 마이페이지 */
#mypage_area{position: relative;width: 100%;}
/* 마이페이지 메뉴 탭 */
.mypage_tap{width:100%; height:60px;line-height:60px;border-bottom: 1px solid #fe695a}
.mypage_tap li{float: left; width: 150px;text-align: center;}
.mypage_tap li a{display: inline-block; color: #999999; font-size: 20px; font-weight: bold}
.mypage_tap li a:hover{color:#fe695a}

#deal_wrap{position:relative;float:left;width:100%; min-height:600px}
.deal_left{float:left;width:195px;height:200px;padding-left:20px;margin-top: 50px;background-color:#ededed;box-sizing: border-box}
.deal_left th{text-align:center; height:40px;padding-top:10px;font-weight:bold}
.deal_left td{font-size: 14px}
.deal_left td:nth-child(odd){width:130px}
.deal_left td:nth-child(even){width:30px;text-align:right}

.deal_rigth{position:relative;float:right;width:790px}
.deal_rigth li{float:left;width:260px}
.deal_header{width:100%;height:60px;border-bottom:1px solid #0058e9}
.deal_header a{display:block;float:left;width:140px; height:30px;line-height:30px;font-size:16px; font-weight:bold; color:#0058e9; margin-top:25px;text-align:right}
.deal_header .deal_SelectWrap{float:left;position:relative;width:120px; height:30px; line-height:30px;margin-top:25px;}
.deal_SelectWrap .deal_SelectText{text-align:center; color: #0058e9}
.deal_SelectWrap .deal_SelectText em{font-style: normal; color:#0058e9}
.deal_header .deal_boxUI{display:none;position:absolute;top:30px;left:5px;width:120px;z-index:10}
.deal_header .deal_boxUI li{width:100%;text-indent:0.5em;background-color:#fff}
.deal_header .deal_boxUI li:hover{width:100%;background-color:#b8d2fc}
.deal_header .deal_boxUI li em{display:none}
.deal_SelectWrap .sell_SelectText{text-align:center; color: #0058e9}
.deal_SelectWrap .sell_SelectText em{font-style: normal; color:#0058e9}
.deal_header .sell_boxUI{display:none;position:absolute;top:30px;left:5px;width:120px;z-index:10}
.deal_header .sell_boxUI li{width:100%;text-indent:0.5em;background-color:#fff}
.deal_header .sell_boxUI li:hover{width:100%;background-color:#b8d2fc}
.deal_header .sell_boxUI li em{display:none}
#sell_board_list .deal_header a{margin-left:50px}

.mypage_board{float:right;width:790px; margin-top:15px}
.mypage_board_type{width:100%;border-spacing:0;text-align:center}
.mypage_board_type th{background-color:#ededed;height:35px;line-height:35px;font-weight:bold}
.mypage_board_type th:nth-child(1){width:70px}
.mypage_board_type th:nth-child(2){width:250px}
.mypage_board_type th:nth-child(3){width:80px}
.mypage_board_type th:nth-child(4){width:220px}
.mypage_board_type th:nth-child(5){width:90px}
.mypage_board_type th:nth-child(6){width:80px}
.mypage_board_type td{height:90px;text-align:center}
.mypage_board_type td:nth-child(2){overflow:hidden}
.mypage_board_type td:nth-child(2) img{float:left;width:82px;height:82px;margin-left:2px; margin-top:3px}
.mypage_board_type td:nth-child(2) span{float:left;margin-left:10px;margin-top:20px}
.mypage_board_type td:nth-child(2) em{float:left;margin-top:45px;margin-left:-10px}
.mypage_board_type tr{border-bottom:1px solid #ededed}

.parcel_service{display:none}

/* #sell_table{display:none} */
#buy_table{display:none}
#board_table{display:none}
#user_wrap{display:none}
/* 개인정보 영역 */
#user_wrap{position: relative; float: left; width:100%;background-color:#f7fbff; margin-top: 15px;margin-bottom:15px}
#user_wrap table{width: 100%; border: none}
#user_wrap tr{border: none}
#user_wrap th{text-align: left;width: 200px;text-indent: 4em;font-weight:bold}
#user_wrap td{background-color: #f7fbff;padding:15px 0 15px 20px;text-align: left}
.user_table_line input[type="text"]{width:270px; text-indent:1em}
.user_table_line input[type="password"]{width:270px; text-indent:1em}
#sample6_postcode1, #sample6_postcode2{width:60px;}
#sample6_address, #sample6_address2{margin-top:10px}
.user_table_line .p_in{display:inline-block; width:100px;margin-bottom:10px}
.user_table_line textarea {width:500px; height:80px; padding:10px}
.user_form .user_chinge{float:right; margin: 30px 100px 30px}
.user_chinge input[type="button"]{width:50px; height:30px; background-color:#600f00;border:0;color:#fff}
.user_chinge button{margin-left: 20px;width:50px; height:30px; background-color:#c11e00;border:0;color:#fff}