@charset "UTF-8";

.productTable {
	border-collapse: collapse;
	border: none;
	border-radius: 3px;
	background: #f06060;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 1000px;
}

.productTable th, .productTable td {
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(0, 0, 0, 0.25);
}

.productTable th {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	padding: 1em;
	color: rgba(0, 0, 0, 0.45);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	font-size: 1.5em;
}

.productTable td {
	color: #f7f7f7;
	padding: 0.7em 1em 0.7em 1.15em;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
	font-size: 1.2em;
}

.productTable tr {
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.productTable tr:hover {
	background: rgba(0, 0, 0, 0.1);
}

.productTable fieldset {border: none; margin: 0.5em;}
.productTable fieldset {border: none; margin: 2.5em;}

.productTable input[type="text"], .productTable input[type="number"] {
	height: 30px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.productTable textarea {
	height: 112px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.productTable input[type="text"]:hover, .productTable input[type="number"]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.productTable select {
	height: 30px;
}

.productTable input[type="submit"], .productTable input[type="button"] {
	height: 50px;
	background-color: #000;
	border-radius: 5px;
	color: #fff;
	display: block;
	float: right;
	font-size: 1.2em;
	margin-right: 1.4em;
}

.productTable input[type="submit"]:hover, .productTable input[type="button"]:hover {
	background-color: #666;
	cursor: pointer;
	text-shadow: 2px 2px 2px #000;
	box-shadow: inset 0 2px 2px #000;
}

.connectionList ul {
	list-style-type: none;
}

.connectionList li {
	display: inline;
	margin-right: 1.4em;
}