@charset "utf-8";

/* ------------- MODAL STYLE -----------------*/
.modal {position: fixed; width:100%; height:100%; z-index: 1000; background-color:rgba(0, 0, 46, 0.5);}

.modal-close {cursor: pointer}

/* ------------- Login Form STYLE -----------------*/
.blind{display:none}
#login-options form {width:630px; height:265px; margin: 0 auto; margin-top: 265px}
#login-options .login_set{position:relative;width:100%;height:265px;background-color:#fff;overflow: hidden; padding:10px; box-sizing:border-box;border-radius:5px;border:2px solid #00aeff}
#login-options .login_set .login_title{float:left;width:100%; height:70px;border-bottom:1px solid #61748c; margin-bottom:5px}
#login-options .login_set h1{display:block;width:100%;font-size:25px;color:#61748c; margin-top:25px;font-weight:bold}
#login-options .login_set .m_logo{position:absolute;top:25px;right:25px;width:200px; height:43px;}
#login-options .login_set .m_logo img{width: 100%}
.login_set .login_list{position:relative;width:100%}
.login_set .login_list input{background-color:#fff; text-indent: 0.5em}
.login_set .login_list label{display:inline-block;width:100px;margin-left:50px;margin-top:25px;color:#b2b2b2; font-weight:bold}
.login_list input[type="email"], .login_list input[type="password"], .login_list input[type="text"]{width: 250px;background-color:#fff; -webkit-appearance:none;}
.login_set .login_list label.login_no_margin{margin-left:0;width:140px;}
.login_set .login_list input[type="checkbox"]{margin-left:10px}
.login_set .loginForm_btn{width:150px;margin:0 auto; margin-top:35px}
.login_set .loginForm_btn #cancel{width:70px;height:30px;margin-right:5px;border:none;color:#fff;background-color:#c11e00;font-weight:bold;cursor: pointer;opacity:0.8;padding:0}
.login_set .loginForm_btn #cancel:hover{opacity:1}
.login_set .loginForm_btn #loginBtn{width:70px;height:30px;border:none;color:#fff;background-color:#600f00;font-weight:bold;cursor: pointer;opacity:0.8;padding:0}
.login_set .loginForm_btn #loginBtn:hover{opacity:1}

/* ------------- Register User Form STYLE -----------------*/
#m_join{display:none}
#register_options{width:600px; margin:0 auto; margin-top:130px;}
#register_options .join_set{position:relative;width:100%;height:700px;background-color:#fff;overflow: hidden; padding:10px; box-sizing:border-box;border-radius:5px;border:2px solid #00aeff}
#register_options .join_title{width:100%; height:70px;border-bottom:1px solid #61748c; margin-bottom:25px}
#register_options .join_title h1{display:block;width:100%;font-size:25px;color:#61748c;font-weight:bold;padding-top:25px}
#register_options .join_title .m_logo{position:absolute;top:25px;right:25px;width:200px; height:43px;}
#register_options .join_title .m_logo img{width: 100%}
.join_set .join_list{position:relative;width:100%}
.join_set .join_list label{display:inline-block;width:160px;height:60px;vertical-align:top;margin-left:50px;color:#b2b2b2; font-weight:bold}
.join_set .join_list label span{position:absolute;left:50px; top:16px}
.join_set .join_list input{text-indent:0.5em;width:250px;background-color:#fff;padding:0}
.join_set .join_list textarea{width:250px;padding:5px;box-sizing:border-box}
.join_set .join_list span.error{position:absolute;left:215px;top:22px;color:#508fcf;font-weight:bold;text-indent:20px;background-image: url("../image/icon-warning2.png"); background-position: left 3px; background-repeat: no-repeat;}
.join_set .join_btn {width:150px;margin:0 auto; margin-top:20px}
.join_set .join_btn #cancelReg{width:70px;height:30px;margin-right:5px;border:none;color:#fff;background-color:#c11e00;font-weight:bold;cursor: pointer;opacity:0.8;padding:0}
.join_set .join_btn #cancelReg:hover{opacity:1}
.join_set .join_btn #joinBtn{width:70px;height:30px;border:none;color:#fff;background-color:#600f00;font-weight:bold;cursor: pointer;opacity:0.8;padding:0}
.join_set .join_btn #joinBtn:hover{opacity:1}

