<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.shshop.mapper.OrderMapper'>
	<insert id='insertOrder' parameterType='${OrderType}' useGeneratedKeys='true' keyProperty='${id_order}'>
		INSERT into `or_order` (`id_user`, `id_product`, `id_address`)
		SELECT user.`id_user`, product.`id_product`, address.`id_address`
		FROM `cr_user` as user, `ps_product` as product, `cr_address` as address
		WHERE user.`id_user`=${id_user} and product.`id_product` = ${id_product} and user.`id_user` = address.`id_user`
	</insert>
	
	<update id='updateOrder' parameterType='${OrderType}'>
		UPDATE `or_order` 
		SET `amount`= ${amount}, `cost` = ${cost}, delivery_cost = ${delivery_cost}, `order_request` = ${order_request} 
		WHERE `id_order` = ${id_order};
	</update>
	
	<select id='getBuyOrder' resultMap='Order'>
		SELECT * FROM `or_order` WHERE `id_user` = ${id_user}
	</select>
	
	<select id='getBuyUserInfo' resultMap='${UserResultMap}'>
		SELECT a.* FROM `cr_user` a inner join `or_order`  o on a.`id_user` = o.`id_user`
		WHERE o.`id_order` = ${id_order} Group by a.`id_user`
	</select>
	
	<select id='getBuyUserAdd' resultMap='${AddressResultMap}'>
		SELECT a.* FROM `cr_address` a inner join `or_order` o on a.`id_address` = o.`id_address`
		WHERE o.`id_order` = ${id_order}
	</select>
	
	<select id='getSellOrder' resultMap='Order'>
		SELECT * FROM `or_order` WHERE `id_product` in (SELECT `id_product` FROM `ps_product` WHERE `id_user` = ${id_user})
	</select>
	
	<select id='getSellUserInfo' resultMap='${UserResultMap}'>
		SELECT a.* FROM `cr_user` a inner join `ps_product` o on a.`id_user` = o.`id_user`
		WHERE o.`id_product` = ${id_product} Group by a.`id_user`
	</select>
	
	<select id='getProductInfo' resultMap='${ProductResultMap}'>
		SELECT a.* FROM `ps_product` a inner join `or_order` o on a.`id_product` = o.`id_product`
		WHERE o.`id_product` = ${id_product}
	</select>
	
	<select id='getSellUserAdd' resultMap='${AddressResultMap}'>
		SELECT a.* FROM `cr_address` a inner join `ps_product` o on a.`id_user` = o.`id_user`
		WHERE o.`id_product` = ${id_product};
	</select>
	
	<resultMap id="Order" type="${OrderType}">
		<id property='orderId' column='id_order' />
		<result property='userId' column='id_user' />
		<result property='productId' column='id_product' />
		<result property='idAddress' column='id_address' />
		<result property='amount' column='amount' />
		<result property='cost' column='cost' />
		<result property='deliveryCost' column='delivery_cost' />
		<result property='orderRequest' column='order_request' />
	</resultMap>
</mapper>
