<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.shshop.mapper.OrderMapper'>
	<insert id='insertOrder' parameterType='${OrderType}' useGeneratedKeys='true' keyProperty='${id_order}'>
		insert into `or_order` (`id_user`, `id_product`, `id_address`)
		select user.`id_user`, product.`id_product`, address.`id_address`
		from `cr_user` as user, `ps_product` as product, `cr_address` as address
		where user.`id_user`=${id_user} and product.`id_product` = ${id_product} and user.`id_user` = address.`id_user`
	</insert>
	
	<update id='updateOrder' parameterType='${OrderType}'>
		update `or_order` 
		set `amount`= ${amount}, `cost` = ${cost}, delivery_cost = ${delivery_cost}, `order_request` = ${order_request} 
		where `id_order` = ${id_order};
	</update>
	
	<select id='getBuyOrder' resultMap='Order'>
		select * from `or_order` where `id_user` = ${id_user}
	</select>
	
	<select id='getBuyUserInfo' resultMap='${UserResultMap}'>
		select * from `cr_user` inner join `or_order` on `cr_user`.`id_user` = `or_order`.`id_user`
		where `or_order`.`id_user` = ${id_order} Group by `cr_user`.`id_user`
	</select>
	
	<select id='getSellOrder' resultMap='Order'>
		select * from `or_order` where `id_product` in (SELECT `id_product` FROM `ps_product` WHERE `id_user` = ${id_order})
	</select>
	
	<select id='getSellUserInfo' resultMap='${UserResultMap}'>
		select * from `cr_user` inner join `ps_product` on `cr_user`.`id_user` = `ps_product`.`id_user`
		where `ps_product`.`id_product` = ${id_product} Group by `cr_user`.`id_user`
	</select>
	
	<resultMap id="Order" type="${OrderType}">
		<id property='orderId' column='id_order' />
		<result property='userId' column='id_user' />
		<result property='productId' column='id_product' />
		<result property='idAddress' column='id_address' />
		<result property='amount' column='amount' />
		<result property='cost' column='cost' />
		<result property='deliveryCost' column='delivery_cost' />
		<result property='orderRequest' column='order_request' />
	</resultMap>
</mapper>
