<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.shshop.mapper.ProductCategoryMapper'>

 	<select id='getProductCategoryCount' resultType='int'>
		SELECT COUNT(`id_product_category`) as count FROM `ps_product_category`;
	</select>
	
	<insert id='insertProductCategory' parameterType='${ProductCategoryType}' useGeneratedKeys='true' keyProperty='${id_product_category}'>
		INSERT INTO `ps_product_category` (`id_category`,`id_product`)
		VALUES (${id_category}, ${id_product});
	</insert>
 
	<resultMap id='ProductCategory' type='${ProductCategoryType}' >
		<id property='productCategoryId' column='id_product_category'/>
		<result property='categoryId' column='id_category'/>
		<result property='productId' column='id_product'/>
	</resultMap>
</mapper> 