<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.shshop.mapper.SearchMapper'>

	<select id = 'getSearching' resultMap='${ProductResultMap}'> <!-- 검색시 찾는기능 -->
		select * from `ps_product` where
		`name` like CONCAT('%',${keyword},'%') or `description` like CONCAT('%',${keyword},'%') or `tag` like
		CONCAT('%',${keyword},'%');
 	</select>
</mapper>
